/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.modal-largo {
  max-width: 90vw !important;
  margin-top: 74px !important;
}
@media (min-width: 2100px) {
  .modal-largo {
    max-width: 1400px !important;
  }
}
.modal-backdrop.show {
  opacity: 0.8 !important
}
body.modal-open .desktop-sidebar {
  z-index: 1040 !important;
}
.table .action-col {
  border-left: none;
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1700px;
    }
}
.modal-alta-prioridade {
  z-index: 1060 !important; 
}
.modal-com-bordas-destacadas .modal-header {
  background: linear-gradient(135deg, #2453dc 0%, #577CFF 100%) !important;
  color: white;
  border-bottom: none;
}
.modal-com-bordas-destacadas .modal-header .btn-close {
  opacity: 1;
}
.form-pequeno .form-control,
.form-pequeno .form-select {
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
.form-pequeno .form-control:focus,
.form-pequeno .form-select:focus {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
  outline: 0 !important;
}

.pedido-atual-painel {
  background-color: #ffffff;
  color: #474644;
  border-color: #45a049
}
.pedido-atual-painel h5 strong {
  color: #4CAF50 !important;
}
.pedido-atual-painel span strong,
.pedido-atual-painel p strong {
  font-size: 15px;
  color: #474644 !important;
}
.pedido-atual-painel .text-muted {
  color: #4CAF50 !important;
}
.input-foco-azul:focus {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
  outline: 0 !important;
}
.input-foco-verde:focus {
  border-color: #4CAF50 !important;
  box-shadow: 0 0 0.2rem rgba(76, 175, 80, 0.25) !important;
  outline: 0 !important;
}
.select-padrao__control--is-focused {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
}
.select-padrao__control {
  /* A classe .rounded-3 do Bootstrap corresponde a um border-radius de 0.5rem */
  border-radius: 0.5rem !important;

  /* Opcional: ajusta a altura para ficar mais alinhado com outros inputs do Bootstrap */
  min-height: 38px;
}
.rodape-busca-fixo {
  position: fixed;
  bottom: 20px; /* Damos um espaço da parte de baixo da tela */
  left: 50%;    /* Posiciona o início do elemento no meio da tela */
  transform: translateX(-50%); /* Move o elemento de volta 50% da sua PRÓPRIA largura, centralizando-o perfeitamente */
  width: 80%; /* Define que a largura do rodapé será 80% da tela */
  max-width: 900px; /* Define uma largura máxima para telas muito grandes */
  
  z-index: 1020;
  background-color: #c1c5c7;
  padding: 1rem;
  border: 1px solid #c1c5c7;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Sombra mais destacada para o efeito flutuante */
  border-radius: 16px; /* Bordas arredondadas em todos os cantos */
}
.form-control::placeholder {
  color: #adb5bd !important; /* Um tom de cinza claro */
  opacity: 1; /* Garante que a cor seja aplicada */
}