/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.modal-largo {
  max-width: 90vw !important;
  margin-top: 74px !important;
}
@media (min-width: 2100px) {
  .modal-largo {
    max-width: 1400px !important;
  }
}
.modal-backdrop.show {
  opacity: 0.8 !important
}
body.modal-open .desktop-sidebar {
  z-index: 1040 !important;
}
.table .action-col {
  border-left: none;
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1700px;
    }
}
.modal-alta-prioridade {
  z-index: 1060 !important; 
}
.modal-com-bordas-destacadas .modal-header {
  background: linear-gradient(135deg, #2453dc 0%, #577CFF 100%) !important;
  color: white;
  border-bottom: none;
}
.modal-com-bordas-destacadas .modal-header .btn-close {
  opacity: 1;
}
.form-pequeno .form-control,
.form-pequeno .form-select {
  font-size: 0.9rem;
}
.form-pequeno .form-control:focus,
.form-pequeno .form-select:focus {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
  outline: 0 !important;
}