/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';


@import './components/chart/styles.css';

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.modal-largo {
  max-width: 90vw !important;
  margin-top: 74px !important;
}
@media (min-width: 2100px) {
  .modal-largo {
    max-width: 1400px !important;
  }
}
.modal-backdrop.show {
  opacity: 0.8 !important
}
body.modal-open .desktop-sidebar {
  z-index: 1040 !important;
}
.table .action-col {
  border-left: none;
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1700px;
    }
}
.modal-alta-prioridade {
  z-index: 1060 !important; 
}
.modal-com-bordas-destacadas .modal-header {
  background: linear-gradient(135deg, #2453dc 0%, #577CFF 100%) !important;
  color: white;
  border-bottom: none;
}
.modal-com-bordas-destacadas .modal-header .btn-close {
  opacity: 1;
}
.form-pequeno .form-control,
.form-pequeno .form-select {
  font-size: 0.9rem;
  border-radius: 5px;
}
.form-pequeno .form-control:focus,
.form-pequeno .form-select:focus {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
  outline: 0 !important;
}
.pedido-atual-painel {
  background-color: #ffffff;
  color: #474644;
  border-color: #45a049
}
.pedido-atual-painel h5 strong {
  color: #4CAF50 !important;
}
.pedido-atual-painel span strong,
.pedido-atual-painel p strong {
  font-size: 15px;
  color: #474644 !important;
}
.pedido-atual-painel .text-muted {
  color: #4CAF50 !important;
}
.input-foco-azul:focus {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
  outline: 0 !important;
}
.input-foco-verde:focus {
  border-color: #4CAF50 !important;
  box-shadow: 0 0 0.2rem rgba(76, 175, 80, 0.25) !important;
  outline: 0 !important;
}
.select-padrao__control--is-focused {
  border-color: #2453dc !important;
  box-shadow: 0 0 0.2rem rgba(36, 83, 220, 0.25) !important;
}
.select-padrao__control {
  border-radius: 5px !important;

  min-height: 38px;
}
.rodape-busca-fixo {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 900px;
  
  z-index: 1020;
  background-color: #c1c5c7;
  padding: 1rem;
  border: 1px solid #c1c5c7;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 16px;
}
.form-control::placeholder {
  color: #adb5bd !important;
  opacity: 1;
}
.campo-bloqueado:disabled,
.campo-bloqueado[readonly] {
    background-color: #fff !important;
    color: #212529 !important;
    opacity: 1 !important;
    cursor: default;
}
.form-select.campo-bloqueado:disabled {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none !important;
    padding-right: 0.75rem;
}
.card-campanha {
  min-height: 400px;
}
.border-sutil {
  border: 1px solid #e9ecef !important;
}
.btn-custom-azul {
  background-color: #3c78de;
  border-color: #3c78de;
}
.btn-custom-azul:hover {
  background-color: #2c4fb8;
  border-color: #2c4fb8;
}
.modal-header .btn-close:focus {
  box-shadow: none;
  outline: none;
}
.progress-fino {
  height: 5px;
}
.modal-margin-top {
  margin-top: 74px !important;
}
.texto-progresso-custom {
  color: #439746 !important; /* Exemplo de cor. Troque pelo código da cor que você quer! */
}
.no-caret.dropdown-toggle::after {
  display: none !important;
}
.texto-pre-wrap { /*Preserva os espaços em branco e as quebras de linha do texto. (Descrição de campanha)*/
  white-space: pre-wrap;
}
.campaign-button {
  background-color: #a01711;
  border-color: rgba(160, 24, 17, 0);
  width: 195px;
  color: white; /* Garante que o texto seja branco */
  
  /* A mágica da suavidade acontece aqui */
  transition: background-color 0.2s ease-in-out;
}

/* ESTILO PARA BOTÃO DE VER PRODUTOS DA CAMPANHA, PÁGINA DE PRODUTOS */
.campaign-button:hover {
  background-color: #7c120d; /* Um tom um pouco mais escuro que o original */
  border-color: #7c130d00;
}
.campaign-button:active {
  background-color: #5a0d0a !important; /* Um tom ainda mais escuro para o clique */
  border-color: transparent !important;
}

/* ESTILO PARA BOTÕES DE SALVAR/FECHAR/CANCELAR */
.btn-custom-salvar {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
  width: 130px;
}
.btn-custom-salvar:hover {
  background-color: #439746;
  border-color: #409242;
}
.btn-custom-salvar:active {
  background-color: #439746 !important;
  border-color: #439746  !important;
}
.btn-custom-cancelar {
  background-color: #ffffff;
  border: 1px solid #4CAF50;
  color: #4CAF50;
  width: 130px;
}
.btn-custom-cancelar:hover {
  background-color: #dcfae6;
  border-color: #4CAF50;
  color: #4CAF50 !important;
}
.btn-custom-cancelar:active {
  background-color: #dcfae6 !important;
  border-color: #4CAF50 !important;
  color: #4CAF50 !important;
}

/* ESTILOS PARA PÁGINA DE EXPEDIÇÃO */
.custom-badge {
  background-color: #d9dbdf !important;
  color: #414246 !important;
}

.meu-modal-custom {
  max-width: 1000px;
  margin-top: 90px;
}
.meu-modal-custom .modal-content {
  border-radius: 5px;
}
.meu-modal-custom .modal-title {
  color: #282829;
  font-weight: 700;
}
.meu-modal-custom .modal-header {
  padding-top: 25px; 
  border-bottom: none;
}

.info-block small {
  font-size: 1rem;
  font-weight: 700;
  color: #282829;
}
.info-block p {
  font-size: 0.9rem;
  color: #282829;
}

.product-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-card small {
  color: #6c757d;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}

.product-card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  word-break: break-word; 
}

.status-dropdown-menu .dropdown-item {
  font-size: 0.9rem; 
}
.status-dropdown-menu .dropdown-item:hover,
.status-dropdown-menu .dropdown-item:focus {
  background-color: #e9ecef;
  color: #212529;
}

.product-number-badge {
  position: absolute; 
  bottom: 10px;       
  right: 10px;        
  font-size: 0.8rem;    
  font-weight: bold;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 43px;
  right: 150px;
  z-index: 1000;

  background-color: #6B778C;
  color: white;
  border: none;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  font-size: 1.3rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3 ease-in-out;
}

.scroll-to-top-btn.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top-btn:hover {
  background-color: #2453dc
}

.relatorio-button {
  background-color: #1868db; /* Cor padrão */
  border: none;
  font-size: 0.9rem;
  font-weight: 550;
  border-radius: 4px;
  color: white; 
  padding: 9px 14px;
  transition: background-color 0.2s ease-in-out;
}

.relatorio-button:hover {
  background-color: #1558bc; 
}

.relatorio-button:active {
  background-color: #123263 !important;
}

.custom-checkbox-producao .form-check-input {
  border-radius: 2px;
  border-color: #adb5bd;
  cursor: pointer;
}

.custom-checkbox-producao .form-check-input:not(:checked) {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.custom-checkbox-producao .form-check-input:checked {
  background-color: #1868db;
  border-color: #1868db;
  box-shadow: none
}

.production-table {
  font-size: 0.9rem;
}

.stock-table {
  font-size: 0.9rem;
}

.product-table-quantity {
  width: 60px;
  font-size: 0.9rem;
  text-align: center;
  vertical-align: middle;
}

.fix-table {
  table-layout: fixed;
  width: 100%;
}

.botao-margin {
  margin-bottom: 20px;
}

.badge-novo {
  background-color: #439746 !important;
  color: white !important;
}

.badge-atualizado {
  background-color: #f8ae00 !important;
  color: white !important;
}

.badge-faltando {
  background-color: #df322c !important;
  color: white !important;
}